.card {
  background: #96ccff;
  margin: 15px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 20%);
  width: 15%;
  border: 1px solid #e2e2e2;
}

.grow {
  transition: transform 0.25s ease-out;
  backface-visibility: hidden;
  transform: translateZ(0);
}
